In [8]:

import numpy as np
import pandas as pd

In [30]:
# Using NumPy functions or NumPy-like operations, such as filtering with a Boolean array, scalar multiplication, or applying math functions, will preserve the index-value link:
obj2[obj2 > 0]
obj2 * 2
np.exp(obj2)

"b" in obj2
"e" in obj2

False

In [19]:
# Series

obj = pd.Series([4, 7, -5, 3])
print(obj)
obj.array
obj[1]

0    4
1    7
2   -5
3    3
dtype: int64

np.int64(7)

In [35]:
# Often, you'll want to create a Series with an index identifying each data point with a label:
obj2 = pd.Series([4,7, -5, 3], index = ["d", "b", "a","c"])
obj2
obj2["a"]
obj2["d"] = 6
obj2
obj2[["c","a","d"]]

sdata = {
    "Ohio": 35000,
    "Texas": 71000,
    "Oregon": 16000,
    "Utah": 5000
}
sdata
obj3 = pd.Series(sdata)

#Series can also be converted to dictionary
obj3.to_dict()

{'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

In [51]:
states = ["California", "Ohio", "Oregon","Texas"]

obj4 = pd.Series(sdata, index = states)
obj4

#isna and notna
pd.isna(obj4)
pd.notna(obj4)
obj4.isna()

obj3 + obj4

obj4.name = "population"
obj4.index.name = "state"

obj4

obj.index = ["Bob","Steve","Jeff","Ryan"]
obj

Bob      4
Steve    7
Jeff    -5
Ryan     3
dtype: int64

In [59]:
data = {"state": ["Ohio", "Ohio", "Ohio", "Nevada", "Nevada", "Nevada"],
        "year": [2000, 2001, 2002, 2001, 2002, 2003],
        "pop": [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}

frame = pd.DataFrame(data)
frame.head()
frame.tail()


frame2 = pd.DataFrame(data, columns = ["year", "state", "pop"])

frame2["state"]
frame.year

0    2000
1    2001
2    2002
3    2001
4    2002
5    2003
Name: year, dtype: int64

In [56]:
pd.DataFrame(data, columns=["year", "state", "pop", "debt"])

   year   state  pop debt
0  2000    Ohio  1.5  NaN
1  2001    Ohio  1.7  NaN
2  2002    Ohio  3.6  NaN
3  2001  Nevada  2.4  NaN
4  2002  Nevada  2.9  NaN
5  2003  Nevada  3.2  NaN