In [7]:
# Setup and imports

import pandas as pd
import numpy as np

np.random.seed(42)
pd.__version__

'2.2.3'

In [15]:
# Core objects: Series and DataFrame
# Series - one dimensional labeled array
s = pd.Series([10, 20, 30], name = "points")
print(s)
print("Values:", s.values)
print("Index:", s.index.tolist())


#DataFrame
df = pd.DataFrame({
    "name": ["Ana", "Ben", "Cara", "Dan"],
    "age": [23, 31, 29, 35],
    "score": [88, 92, 79, 85]
})

print("\nDataFrame:")
# print(df)
display(df)

0    10
1    20
2    30
Name: points, dtype: int64
Values: [10 20 30]
Index: [0, 1, 2]

DataFrame:

   name  age  score
0   Ana   23     88
1   Ben   31     92
2  Cara   29     79
3   Dan   35     85

In [20]:
# Reading and writing Files
#pd.read_csv() and DataFrame.to_csv() for csv.

# Create a small DataFrame and sbave to CSV
mini =  pd.DataFrame({
    "id": [1, 2, 3],
    "value": [10.5, 11.2, 9.8]
})
# 
# display(mini)

# mini_read = pd.read_csv("mini.csv")
# print(mini_read)

# df.to_csv(path, index= True)

In [31]:
# First Look at Your Data
df = pd.DataFrame({
    "name": ["Ana", "Ben", "Cara", "Dan"],
    "age": [23, 31, 29, 35],
    "score": [88, 92, 79, 85]
})

# print("Shape", df.shape)
# print("Data type", df.dtypes)
# display(df.head(2)) # first rows
# print(df.info())
print(df.describe())

        age      score
count   4.0   4.000000
mean   29.5  86.000000
std     5.0   5.477226
min    23.0  79.000000
25%    27.5  83.500000
50%    30.0  86.500000
75%    32.0  89.000000
max    35.0  92.000000

In [39]:
# Selecting Columns and Rows
df = pd.DataFrame({
    "name": ["Ana", "Ben", "Cara", "Dan"],
    "age": [23, 31, 29, 35],
    "score": [88, 92, 79, 85]
})

# Column Selection
# print(df["name"]) #Series
# print(df[["name", "score"]]) #DataFrame

# Row selection by label with .loc (here default index 0 .. n- 1)
print(df.loc[1])
print(df.loc[1:3, ["name", "score"]])

name     Ben
age       31
score     92
Name: 1, dtype: object
   name  score
1   Ben     92
2  Cara     79
3   Dan     85